extends layouts/main

block content
    .form-container
        form(action=routes.changePassword, method="post")
            input(type="password", name="password")
            input(type="password", name="changePassword")
            input(type="password", name="changePassword2")
            input(type="submit", value="submit")