extends layouts/main

block content
    .form-container
        form(action=routes.editProfile, method="post")
            label(for="avatar")
            input(type="file",id="avatar", name="avatar")
            input(type="text", name="name")
            input(type="email", name="email")
            input(type="submit", value="submit")
        a.form-container__link(href=`/users${routes.changePassword}`)
            p Change Password