extends layouts/main
include mixins/videoBlock

block content
    .video-container
        each video in videos
            +videoBlock({
                id:video.id,
                videoFile:video.videoFile,
                title:video.title,
                description:video.description
            })