mixin videoBlock(video={})
    video.videoBlock__thumnail(src=video.videoFile, autoplay="autoplay", muted="muted", controls=true)
    h1.videoBlock__title=video.title
    p.videoBlock__description=video.description
